@model EventRegistration.Models.LoginViewModel

<div class="loginPanelContents">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <span>Username:</span>
        </div>
        <div class="col-md-8 col-xs-12">
            @Html.TextBoxFor(x => x.Username)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <span>Password:</span>
        </div>
        <div class="col-md-8 col-xs-12">
            @Html.PasswordFor(x => x.Password)
        </div>
    </div>
</div>