@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Logout", new { area = "" }, FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="loggedInArea">
                    <div class="user">
                        @CurrentUser.Email
                    </div>
                    <div class="logout">
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </div>
                </div>
            </li>
        </ul>
    }
}